* {
    padding: 0;
    margin: 0;
}


body {
    background-color: violet;
}


.container h2{
  text-align: center;
}

h3 {
    color: black;
}

.container h2, h3, p {
    font-family: Arial;
}

.container h3 {
    color: white;
    font-size: 17px;
    font-family: Arial;
    text-align: center;
}

.container p {
    font-size: 20px;
    font-family: ;
}

.container label {
    color: black;
    font-size: 20px;
}

.container {
    background-color: rgba(0, 0, 0, 0.4);
    width: 450px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
    padding: 25px;
    border-radius: 30px;
}

.box-input {
    font-size: 25px;
    text-align: center;
    
}

input {
    width: 400px;
    height: 35px;
    text-align: center;
    padding: 4px;
    margin: 4px;
    border-radius: 20px;
}

.btn {
    width: 250px;
    height: 45px;
    justify-content: center;
    align-items: center;
    margin: 0 98px;
    border: 1px solid  black;
    background-color: red;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 20px;
}

.btn:hover   {
    background-color: black;
}

.img {
    top: 50%;
    left: 50%;
    background-position: center;
    margin: 156px 150px;
}

.underline-2 {
  margin: 0 179px;
  font-size: 20px;
  color: aqua;
  text-decoration: none;
}

.img-44 {
    display: none;
}



/* Responsividade */


/* Small Laptop a partir de 1100 px */

 @media (max-width: 1440px) {
    
    .container h2, h3, p {
        font-family: Arial;
    }
    
    .container {
        background-color: white;
        width: 450px;
        height: 450px;
        position: absolute;
        top: 50%;
        left: 77%;
        transform: translate(-50%,-52%);
        padding: 15px;
        border-radius: 10px.
    }

    .container h3 {
        color: black;
    }

    .underline-2 {
        color: red;
    }

    .img {
       display: none;
    }

    .img-44 {
        display: inline-block;
        margin: 85px 140px;
    }

    body {
       background-image: url("../img/1\ \(6\).png") 
    }
}

/* Celulares até 576px */
@media (max-width: 576px) {
    
    .btn {
        width: 250px;
        height: 45px;
        justify-content: center;
        align-items: center;
        margin: 0 26px;
        border: 1px solid  black;
        background-color: red;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.5s;
    }


body {
    background-image: url("../img/Design\ sem\ nome\ \(7\).png")    ;
}

.img {
    display: none;
}

.img-44 {
    display: none;
}

.container {
    background-color: white;
    width: 300px;
    height: 465px;
    position: absolute;
    top: 50%;
    left: 49.4%;
    transform: translate(-50%,-50%);
    padding: 15px;
    border-radius: 40px;
}

.container label {
    color: black;  
}

input {
    width: 250px;
    height: 35px;
    text-align: center;
    margin: 8px;
    border: 1px solid black;
}

.box-input {
    font-size: 25px;
    text-align: center;
}

.container h2, h3, p {
    font-family: Arial;
}


 .underline-2 {
    margin: 0 104px;
    text-align: center;
    color: red;
    font-size: 17px;
}     
  
.container p {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: 
    
}

.container {
    margin: 3px;
}



}